// Colors

$c-black:				#141414;
$black--brighter:		#343434;

$blue:					#4390fc;

$gray:					#a7a7a7;
$gray--brighter:		#ddd;
$gray--darker:			#4d4d4d;
$gray--darkest:			#7a7a7a;

$green:					#00b32e;

$orange:				#f7970f;

$red:					#ff5a00;


$color-page-background:	white;
