// Fonts

$serif:				'Merriweather', serif;
$sans-serif:		'Lato', sans-serif;


// Font weights

$light:				300;
$regular:			400;
$bold:				700;
$black:				900;


// Default

$base-font-size:	16;
$text:				$serif;
$grid-base-width:	1200;


// RWD
