.o-form {
	button {
		@include hover;
	}

	input, textarea {
		@include border-radius;
		height: 36px;
		border: 1px solid $gray;
		padding: {
			left: 15px;
			right: 15px;
		}
		font-size: em(12);
	}
	
	textarea {
		height: 90px;
		padding-top: 12px;
	}
	
	&__row {
		@include clear;
		margin-bottom: 10px;
	}
	
	@include input-placeholder {
		color: $gray--darker;
	}
	
	&--panel {
		input {
			height: 44px;
		}

		input, textarea {
			background-color: white;
			border: none;
			padding: {
				left: 20px;
				right: 20px;
			}
			font-family: $sans-serif;
			font-size: em(14);
		}
	}
	
	&--bordered {
		input, textarea {
			border: 1px solid #cfcfcf;
		}
	}
}