.c-articles {

	h3 {
		margin-bottom: 10px;
	}
	
	.o-media {
		@include hover;
	}

	&__item {
		display: block;
		
		&:hover {
			.o-media {
				@include opacity(.8);
			}
			
			h3 {
				@include hover;
				color: $red;
			}
		}
	}
	
	&__content {
		display: block;
		padding: 25px;
		border: 1px solid $gray--brighter;
		border-top: none;
	}
	
	&__excerpt {
		display: block;
		font-size: em(12);
		
		.c-articles__content & {
			margin-bottom: 15px;
		}
	}

	&--horiz {
		li {
			@include clear;
			margin-bottom: 30px;
		}

		.o-media {
			float: left;
		}

		.c-articles__content {
			float: right;
			width: 330px;
			padding: 0;
			border: none;
		}
	}
	
	@media screen and ( max-width: 800px ) {
		li {
			float: left;
			width: grid(370, 760);
			margin-right: grid(20, 760);
			
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
	
	@media screen and ( max-width: 480px ) {
		li {
			float: none;
			width: 100%;
			margin: 0;
			
			&:last-child {
				margin-bottom: 25px;
			}
		}
	}
	
}
