.c-article {
	line-height: 2;
	
	a {
		&:hover {
			color: $red;
		}
	}
	
	p {
		margin-bottom: 2em;
		font-weight: $light;
	}
	
	h2,h3,h4,h5,h6 {
		margin-bottom: .5em;
		font-family: $serif;	
	}

	h3 {
		font-weight: $bold;
	}
	
	&__excerpt {
		font-size: em(19);
				
		p {
			margin-bottom: 1em;
			
			&:last-of-type {
				margin: 0;
			}
		}
	}
	
	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%; /* Image does not overflow the content area */
		padding: 5px 3px 10px;
		text-align: center;
		
		p.wp-caption-text {
			font-size: 11px;
			line-height: 17px;
			margin: 0;
			padding: 0 4px 5px;
		}
	}
	
	@media screen and ( min-width: 801px ) {
		&__excerpt {
			padding-right: 150px;
		}
	}
	
	@media screen and ( max-width: 800px ) {
		&__excerpt {

			.c-top--contact & {
			    padding: 25px 20px 35px 20px !important;

			    br {
				    display: none;
			    }
			}
		}
	}
	
	@media screen and ( min-width: 641px ) and ( max-width: 800px ) {
		padding-right: 50px;
	}
	
	@media screen and ( max-width: 640px ) {
		padding: {
			left: 20px;
			right: 20px;
		}
		
		.o-content--contact & {
			padding: 0;
		}
	}
}