.c-articles {

	h3 {
		margin-bottom: 10px;
	}
	
	.o-media {
		@include hover;
	}

	&__item {
		display: block;
		
		&:hover {
			.o-media {
				@include opacity(.8);
			}
			
			h3 {
				@include hover;
				color: $red;
			}
		}
	}
	
	&__content {
		display: block;
		padding: 25px;
		border: 1px solid $gray--brighter;
		border-top: none;
	}
	
	&__excerpt {
		display: block;
		font-size: em(12);
		
		.c-articles__content & {
			margin-bottom: 15px;
		}
	}
	
	&__photo {
		display: block;
		width: 230px;
	}

	&--horiz {
		li {
			@include clear;
			margin-bottom: 30px;
		}
	
		.c-articles__content {
			float: right;
			width: grid(330, 580);
			padding: 0;
			border: none;
		}
		
		.c-articles__photo {
			float: left;
			width: grid(230, 580);
		}
	}
	
	@media screen and ( max-width: 800px ) {		
	
		li {
			float: left;
			width: grid(370, 760);
			margin-right: grid(20, 760);
			
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		
		&--horiz {
			max-width: 600px;
			margin: 0 auto;
			padding-left: 0 !important;
			
			li {
				float: none;
				width: auto;
				margin: 0 0 40px 0;
			}

			.c-articles__photo {
				width: grid(275, 600);
			}
			
			.c-articles__content {
				width: grid(330, 660);
			}

			.o-media {
				width: 100%;
				max-width: none;
			}
		}
	}
	
	@media screen and ( max-width: 480px ) {
		li {
			float: none;
			width: 100%;
			margin: 0;
			
			&:last-child {
				margin-bottom: 25px;
			}
		}
		
		&--horiz {
			.c-articles__photo,
			.c-articles__content {
				float: none;
				width: 100%;
			}
			
			.c-articles__content {
				padding: 15px;
			}
		}
	}
	
}
