.c-breadcrumbs {
	font: {
		family: $sans-serif;
		size: em(14);
	}
	
	strong {
		font-weight: $bold;
	}
	
	a {		
		&:hover {
			color: $red;
		}
	}
	
	@media screen and ( max-width: 640px ) {
		text-align: center;
		
		.c-top--plain &,
		.c-top--contact & {
			text-align: left;
		}
	}
}