.c-nav-products {
	position: relative;
	background-color: #f4f4f4;
	padding: 25px;
	
	ul {
		li {
			a {
				display: block;
				padding: 7px 0;

				font: {
					family: $sans-serif;
					size: em(13);
				}

				&:hover {
					color: $red;
				}
			}
			
			&.is-active {
				width: calc(100% + 50px);
				background-color: #e0e0e0;
				margin-left: -25px;
				padding-left: 25px;
				padding-bottom: 10px;
				
				> ul {
					padding-left: 25px;
				}
				
				> a {
					font-weight: $black;
				}
			}
		}
	}
	
	.sub-menu {
		display: none;
	}
}