.c-newsletter {
	h3 {
		margin-bottom: 10px;
	}
	
	&__sublead {
		margin-bottom: 15px;
		font-size: em(12);
	}
	
	input[type=email] {
		@include border-bottom-right-radius(0);
		@include border-top-right-radius(0);
		float: left;
		width: 340px;
		
		.o-footer & {
			width: grid(260, 431-50);
		}
	}
	
	button[type=submit] {
		@include border-bottom-left-radius(0);
		@include border-top-left-radius(0);
		float: left;
		
		.o-footer & {
			width: grid(120, 431-50);
			padding: 0;
		}
	}
	
	.o-content & {
		@media screen and ( max-width: 480px ) {
			padding: {
				left: 20px;
				right: 20px;
			}
		}
	}
	
	.o-footer & {
		float: right;
		width: grid(431);
		padding-left: grid(50);
		border-left: 1px solid #e2dddd;
	}
	
	@media screen and ( max-width: 800px ) {
		.o-footer & {
			width: grid(431, 760);
		}
	}
	
	@media screen and ( max-width: 640px ) {
		input[type=email] {
			display: none;
		}
		
		.o-footer & {
			float: none;
			width: 100%;
			padding: 0;
			border: none;
		}
	}
}