.c-social {
	position: absolute; left: 0; top: 5px;

	li {
		margin-bottom: 10px;
	}
	
	a {
		display: block;
		width: 36px; height: 36px;
		background-color: $gray;
		text-align: center;
		font-size: 30px;
		line-height: 36px;
		color: white;
		
		&:hover {
			background-color: darken($gray, 10%);
		}
	}
	
	@media screen and ( max-width: $grid-base-width+px ) {
		left: 20px;
	}
	
	@media screen and ( max-width: 800px ) {
		position: relative;
		left: auto; top: auto;
		margin-bottom: 25px;
		padding-left: 75px;
		
		.u-buffer-left & {
			padding-left: 0;
		}

		li {
			display: inline-block;
			margin-right: 2px;
		}

		&--nomobile {
			display: none;
		}
	}
	
	@media screen and ( max-width: 640px ) {
		padding-left: 20px;
	}
}