.c-top {
	position: relative;
	margin-top: 90px;
	overflow: hidden;

	&--contact {
		min-height: 376px;
		background-color: #f7f7f7;
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		
		.o-wrap {
			min-height: 376px;
		}
	}

	&--home {
		height: 630px;
	}
	
	&--plain {
		background-color: #f7f7f7;
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		padding: 45px 0;
		
		.c-breadcrumbs {
			margin-bottom: 15px;
		}
		
		.o-media {
			margin-bottom: 40px;
		}
	}
	
	&--subsite {
		height: 340px;
	}
	
	&__photo {
		&--contact {
			@media screen and ( min-width: 801px ) {
				position: absolute;
				left: grid(580); top: 0; z-index: 10;
				width: grid(856);
				height: 100%;
				overflow: hidden;
				background: red;
				
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					height: 100%;
					width: auto;
					-webkit-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
				}		
			}
		}
	}

	@media screen and ( max-width: 800px ) {
		&__photo {
			&--contact {
				width: calc(100% + 40px);
				margin-left: -20px;
				
				.o-media {
					max-width: 100%;
					height: auto;
				}
			}
			
			&--product {
				margin-left: -20px;
				width: calc(100% + 40px);
			}
		}
		
		&--subsite {
			height: 240px;
		}
	}
	
	@media screen and ( max-width: 640px ) {
		margin-top: 70px;

		&--subsite {
			height: auto;
			min-height: 240px;
			padding: 40px 20px 60px 20px;
			text-align: center;
		}
		
		&--home {
			margin-top: 0;
		}
	}
}

