.c-welcome {
	position: absolute;
	//top: 70px;
	bottom: 0;
	z-index: 10;
	width: 100%;

	article {
		max-width: 760px;
		margin: 0 auto;
		text-align: center;
		color: white;
	}

	h5 {
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: em(20);
	}

	h3 {
		margin-bottom: 20px;
		font: {
			size: em(90);
			weight: $black;
		}
	}

	p {
		padding: 0 20px;
		font: {
			size: em(14);
			weight: $light;
		}
	}

	.o-media {
		margin: 0 auto;
	}
	
	.o-btn {
		@include box-shadow( rgba(black, .2) 0 0 20px );
		bottom: 50px;
	}

	@media screen and ( max-width: 800px ) {
		h3 {
			font-size: 10.5vw;
		}
	}
	
	@media screen and ( max-width: 480px ) {
		h3 {
			font-size: 50px;
		}
	}

}
